<%= flash[:notice] %>

<div class="col-md-6 mx-auto mt-5">
  <p class="text-center">
    ようこそ、ながのCAKEへ！<br>
    このサイトは、ケーキ販売のECサイトになります。<br>
    会員でない方も商品の閲覧はできますが、<br>
    購入には会員登録が必要になります。
  </p>
</div>
<div>
  <h2>新着商品</h2>
</div>