<div class="container mt-3">
  <h3 class="mb-4">注文履歴一覧画面</h3>

  <table class="table">
    <thead>
      <tr class="table-secondary">
        <th class="col-lg-3">購入日時</th>
        <th class="col-lg-3">購入者</th>
        <th class="col-lg">注文個数</th>
      </tr>
    </thead>

    <% @orders.each do |order| %>
    <tbody>
      <tr>
        <td>
          <%= link_to admin_order_path(order.id), class:"border-bottom text-secondary" do %>
            <%= order.created_at.strftime('%Y/%m/%d %H:%M') %>
          <% end %>
        </td>
        <td><%= order.shipping_name %></td>
        <td>
          <% array = [] %>
          <% order.order_items.each do |order_item| %>
            <% array << order_item.amount %>
          <% end %>
          <% @total_amount = array.sum %>
          <%= @total_amount %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>